package templ

templ HomePage(email string) {
	@BasePage() {
		<div id="home-page">
			<h1>Welcome to Goths</h1>
			<p>Logged in as: { email }</p>
			<form hx-post="/logout" hx-target="body" hx-push-url="/login">
				<button type="submit">Logout</button>
			</form>
		</div>
	}
}
